{% extends "base.html" %}

{% block content %}
<p>Привет! Меня зовут Бубнов Алексей, я студент колледжа имени А.Н. Коняева. Этот проект по созданию интернет-магазина является моим дипломным проектом, и я очень рад поделиться им с вами. Я занимаюсь web-разработкой и нацелен на создание качественных, удобных и функциональных веб-приложений.</p>
<p>В рамках этого дипломного проекта я стремлюсь применить все знания и навыки, которые приобрел за время обучения, чтобы создать эффективный и удобный интернет-магазин. Моя цель — не только продемонстрировать теоретические навыки, но и проделать работу, которая будет полезной для пользователей.</p>
<p>Если у вас возникли вопросы или предложения по сотрудничеству, не стесняйтесь связаться со мной! Мои контактные данные и ссылки на страницы в социальных сетях вы найдете ниже.</p>
{% endblock %} 